<div class='question'>
  <%= render 'layouts/follow_tags', follow_tags: @follow_tags %>

  <%= link_to 'ランダムに出題', new_question_path, class:'question__random-btn', remote: true %>

  <table class='question__table'>
    <thead class='question__thead'>
      <tr class='question__tr'>
        <th class='question__th-title--answer' colspan='4'>回答済質問一覧</th>
      </tr>
      <tr class='question__tr'>
        <th class='question__th'>タグ</th>
        <th class='question__th'>回答数</th>
        <th class='question__th'>質問</th>
        <th class='question__th'>回答</th>
      </tr>
    </thead>
    <tbody class='question__tbody'>
      <%= render 'questions/tbody', questions: @questions %>
    </tbody>
  </table>
</div>