<div class='tag'>
  <h4 class='tag__page-title'>フォロータグ編集</h4>

  <h5 class='tag__items-title'>【新卒 or 転職】</h5>
  <%= render 'tags', genre: '状態', tags_hash: @tags_hash %>

  <h5 class='tag__items-title'>【職種】</h5>
  <%= render 'tags', genre: '職種', tags_hash: @tags_hash %>
</div>