<div class='top'>
  <div class='top__about'>
    <h4 class='top__about-title'>『どこでも就活面接対策』とは</h4>
    <p class='top__about-text'>面接でよく聞かれる質問への対策アプリケーション</p>
  </div>

  <div class='top__function'>
    <h4 class='top__function-title'>主な機能</h4>
    <ul class='top__function-items'>
      <li class='top__function-item'>①気になるジャンルの質問を表示</li>
      <%= image_tag 'top/questions.gif', class:'top__function-img' %>
      <li class='top__function-item'>②自分の回答からランダムに問題を出題</li>
      <%= image_tag 'top/random_answer.gif', class:'top__function-img' %>
    </ul>
  </div>

  <div class='top__start'>
    <h4 class='top__start-title'>利用方法</h4>
    <ul class='top__start-items'>
      <li class='top__start-item'>①新規登録</li>
      <li class='top__start-item'>②気になるタグをフォロー</li>
      <li class='top__start-item'>③未回答質問一覧画面から回答</li>
      <li class='top__start-item'>④回答済質問一覧画面から回答の確認</li>
      <li class='top__start-item'>⑤ランダム出題で繰り返し練習</li>
    </ul>
  </div>
</div>