@import 'application';

.follow-tag{
  // @extend %max-width;
  margin-top: 30px;

  &__items{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px
  }

  &__item{
    margin-right: 30px;
  }
}