@import 'application';

.modal{

  &__close-btn{
    position: absolute;
    top: 60px;
    right: 50px;
    font-size: 30px;
    color: black;
    z-index: 200;

    @include mq(xl){
      right: calc(-50px + (100vw - 1000px)/2);
    }
  }

  &__area{
    height: 100vh;
    width: 100vw;
    display: none;
    position: fixed;
    top: 0;
    z-index: 100;
  }

  &__background{
    height: 100vh;
    width: 100vw;
    background: $gray;
    opacity: 0.8;
  }

  &__content{
    max-height: 95vh;
    overflow: scroll;
    @extend %max-width;
    background: white;
    border-radius: 20px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}