@import 'application';

.question{
  @extend %max-width;

  &__add-btn{
    @extend %link;
    text-align: center;
    margin: 30px 0 0 auto;
    display: block;
    height: 40px;
    line-height: 40px;
    width: 150px;
    border-radius: 10px;
    background: $accent2;
  }

  &__random-btn,
  &__random-answer-btn{
    @extend .question__add-btn;
    background: $accent1;
    border: none;

    &--left{
      @extend .question__random-btn;
      margin: 30px auto 0 0;
    }

    &--next{
      @extend .question__random-btn;
      position: absolute;
      top: 30px;
      right: 30px;
    }
  }

  &__table{
    margin: 30px auto 0 auto;
    border-collapse: collapse;
  }

  &__th,
  &__td{
    border: 1px solid;
    padding: 5px;
  }

  &__th-title{
    @extend .question__th;
    text-align: center;

    &--question{
      @extend .question__th-title;
      background: $accent2;
    }

    &--answer{
      @extend .question__th-title;
      background: $accent1;
    }
  }

  &__answer-field{
    width: 300px;
  }

  &__link{
    @extend %link;
    font-size: 20px;
    padding-left: 5px;
  }

  &__new-form-field{
    margin: 20px 0;
  }

  &__new-form-text,
  &__random-answer-text-field{
    width: 90%;
  }

  &__new-form-btn{
    @extend %btn;
    width: 100px;
    margin: 0 auto;
  }

  &__random-question-field{
    margin: 30px 0;
  }

  &__random-answer-field{
    margin: 30px 0;
    display: none;
  }
}